@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap');

body {
  font-family: 'Quicksand', sans-serif;
}

.App {
  text-align: center;
}

.button-area {
  background-color: antiquewhite;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.button-area button {
  width: 100px;
  height: 100px;
}