@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap');

body {
  font-family: 'Quicksand', sans-serif;
}

.App {
  text-align: center;
}

.button-area {
  margin: 0 auto;
}

.button-area button {
  border: none;
  background-color: rgb(250, 231, 208, 0.3);
  width: 400px;
}