@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap');

body {
  font-family: 'Quicksand', sans-serif;
  color: rgb(99, 99, 99);
  letter-spacing: 1px;
}

.App {
  text-align: center;
}

.title {
  background-color: rgba(226, 200, 169, 0.3);
  width: 450px;
  height: 70px;
  margin: 30px auto 0px auto;
  padding-top: 28px;
  /* border-radius: 30px; */
  box-shadow: 2px 2px 6px silver;
}

.button-area {
  margin: 20px auto 0px auto;
}

.button-area p{
  margin-top: -100px;
  transition: 1.0s;
}

.button-area p:hover {
  /* opacity: 0.8; */
  transform: scale(1.2, 1.2);
  cursor: pointer;
}

.button-area button {
  border: none;
  background-color: rgba(248, 186, 16, 0.3);
  width: 450px;
  height: 600px;
  border-radius: 30px;
  box-shadow: 2px 2px 6px silver;
}